* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(126,137,176);
   background: linear-gradient(0deg, rgba(126,137,176,0.9837587006960556) 0%, rgba(247,247,247,1) 100%);
  }